
@model WrenchIt.Models.Labor
@{
    var title = "Create Frequency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Edit">

    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
            title = "Edit Labor";
        }
        <div class="col-12">

            <h2 class="text-primary">@title</h2>
            <br />
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="TimeOfJob"></label>
                </div>
                <div class="col-8">
                    <input asp-for="TimeOfJob" class="form-control" />
                    <span asp-validation-for="TimeOfJob" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PricePerHour"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PricePerHour" class="form-control" />
                    <span asp-validation-for="PricePerHour" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Id != 0)
                    {
                        <partial name="_EditBacktoList" model="Model.Id" />
                    }
                    else
                    {
                        //create button and back to list
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>


